.Button {
  padding: 8px 15px;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 1px rgb(43, 28, 2);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Rabbids', 'cursive';
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  color: #fff;
}

/* PROPS COLORS */

#validate {
  background-color: rgb(58, 134, 22);
  border: 5px solid rgb(10, 95, 23);
}
#validate:hover {
  background-color: rgb(42, 92, 20);
  border: 5px solid rgb(8, 54, 15);
}

#cancel {
  background-color: rgb(192, 65, 61);
  border: 5px solid rgb(131, 41, 37);
}
#cancel:hover {
  background-color: rgb(145, 22, 15);
  border: 5px solid rgb(75, 18, 15);
}

#pink {
  background-color: rgb(180, 69, 87);
  border: 5px solid rgb(107, 46, 55);
}
#pink:hover {
  background-color: rgb(129, 41, 56);
  border: 5px solid rgb(66, 35, 40);
}

#blue {
  background-color: rgb(62, 152, 212);
  border: 5px solid rgb(40, 100, 139);
}
#blue:hover {
  background-color: rgb(40, 108, 153);
  border: 5px solid rgb(23, 62, 88);
}

#default {
  background-color: rgb(187, 136, 42);
  border: 5px solid rgb(126, 87, 14);
}
#default:hover {
  background-color: rgb(107, 73, 10);
  border: 5px solid rgb(70, 47, 5);
}