.Button {
  padding: 8px 15px;
  background-color: rgb(187, 136, 42);
  border: 5px solid rgb(126, 87, 14);
  border-radius: 20px;
  box-shadow: 0px 2px 2px 1px rgb(43, 28, 2);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.Button:hover {
  background-color: rgb(60, 114, 35);
  border: 5px solid rgb(8, 54, 15);
}