.CommentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.CommentBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5%;
  background-color: grey;
  border: 10px solid rgb(87, 85, 85);
  border-radius: 10px;
}

.CommentBox h1 {
  color: rgb(53, 51, 51) !important;
  text-align: center;
  margin-bottom: 0 !important;
}

.CommentBox p {
  font-size: 1.5em;
  color: rgb(53, 51, 51);
  text-align: center;
}
#Comment {
  font-family: 'Rabbids', cursive;
  font-size: 2.5em;
  color: #fff;
}

.CommentBox img {
  height: 225px;
  margin-top: 10px;
}

.CommentBoxActions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 15px;
}

.CommentBoxCheck {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.CommentBoxCheck p {
  margin-right: 10px;
  font-style: italic;
  font-size: 1em;
  color: #fff;
}

.CommentBoxCheck img {
  width: 25px;
  height: auto;
}

@media screen and (min-width: 450px) {
  .CommentBoxContent {
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .CommentBoxContent {
    padding: 2%;
    width: 50%;
    max-width: 800px;
  }
  .CommentBoxActions {
    max-width: 400px;
  }
}