.FrontPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FrontPage_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 500px;
  margin: 10px 0;
  background-color: rgb(10, 172, 247);
  border: 10px solid rgb(54, 25, 11);
  border-radius: 10px;
  box-shadow: 0px 2px 2px 1px rgb(15, 10, 0);
}

.FrontPage_title {
  justify-self: flex-start;
  text-align: center;
  color: #fff;
  font-family: 'Rabbids', cursive;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px rgb(18, 126, 177);
}
  
.FrontPage_logo {
  width: 101%;
}
