.LandingMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.LandingMenu p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: 3px 3px 3px rgb(43, 28, 2);
}

.LandingMenu h1 {
  margin-bottom: 50px;
  color: #fff;
  font-family: 'Rabbids', 'cursive';
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px rgb(43, 28, 2);
}

.LandingMenu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LandingMenu_container button {
  margin-bottom: 20px;
}