.LanguageSelector {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
}
.flag {
  width: 40px;
  margin-left: 10px;
}
.noflag {
  width: 40px;
  margin-left: 10px;
  filter: grayscale(100%);
}