.Settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5%;
  background-color: rgb(62, 152, 212);
  border: 5px solid rgb(40, 100, 139);
  border-radius: 10px;
}

.Settings h1 {
  text-align: center;
  margin: 20px 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: 'Ranchers', cursive;
}

.playersNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playersNumber label {
  margin-bottom: 10px;
  font-size: 17px;
  color: #fff;
}

.Number_selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.Settings select {
  width: 55px;
  font-size: 30px;
  padding-left: 10px;
  font-family: 'Ranchers', cursive;
  background-color:rgb(40, 100, 139);
  color: #fff;;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0px 2px 2px 1px rgb(34, 114, 160); */
}

.Settings option {
  width: 30px;
  font-family: 'Ranchers', cursive;
  font-size: 30px;
  background-color: rgb(122, 179, 218);
}

.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.inputs_container label {
  margin-bottom: 5px;
  color: #fff;
}

.inputs_container input {
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color:rgb(40, 100, 139);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px rgb(52, 81, 99);
  font-family: 'Ranchers', 'cursive';
  font-size: 20px;
  color: #fff;
}

.Settings #validate {
  margin-top: 20px;
}